@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* --bg-color: #020c1b; */
  --focused-text: rgba(255, 255, 255, 0.859);
  --text-normal: rgb(151, 165, 184);
  --text-normal: rgb(174, 185, 202);

  --font-inter: "Inter", sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --green: rgb(94 234 212);


  --green-dark: rgb(172, 218, 211);


  --green-bg: rgba(17, 106, 92, 0.507);


  --navy: #0a192f;
  --light-navy: #233554;
  --light-slate: #a8b2d1;
  --navy-shadow: rgba(2, 12, 27, 0.7);

  --project-hover-bg: rgba(255, 255, 255, 0.064);

  --border-radius-small: 3px;
  --border-radius: 1px;
  --border-radius-2: 1px;

  --fs-xxl: 3rem;
  --fs-xl: 1.3rem;
  --fs-l: 1.1rem;
  --fs-n: 1rem;
  --fs-s: 0.9rem;
  --fs-xs: 0.76rem;

  --fs-svg: 1.5rem;

  --fs-folder-size: 2rem;

  /* test colors */
  --black: #0a0118;

  --primary: var(--green);

  /* generiic */

  /* --primary: rgba(255, 255, 255, 0.83); */

  --body-bg: var(--black);
  --body-bg: rgb(13, 20, 38);
  --highlight-text: var(--primary);
  --highlight-text-hover: var(--primary);
  --other-project-card-bg: #151d32;
  --other-project-card-bg: #19223b;

  /* --other-project-card-bg: #241f2d; */

  --nav-height: 0px;

  background: var(--body-bg);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: var(--text-normal);
  font-size: var(--fs-n);
  line-height: var(--line-height);

  /* opacity: 0; */
}

p {
  max-width: 60ch;
}

.heart-emoji {
  font-size: 1.4rem;
  color: red;
}

body>div {
  /* background: radial-gradient(600px at 500px 500px, #132f593a, transparent 80%); */
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

a.underline {
  text-decoration: none !important;
  position: relative;
  width: fit-content;
}

a.underline:before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -2px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transition: transform 200ms ease;
  background: var(--green);
  transform-origin: left;
}

a.underline:hover:before {
  transform: scaleX(1);
}

.fs-xs {
  font-size: var(--fs-xs);
}

/* .right-verticle {
  border: 1px solid red;
  position: fixed;
  bottom: 150px;
  left: 60px;
  width: fit-content;
  display: none;
}

.right-verticle a {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
} */

.focused-text {
  color: var(--focused-text);
}

.font-mono {
  font-family: var(--font-mono);
}

.nano-highlight-text {
  font-size: var(--fs-xs);
  color: var(--highlight-text);
}

.wrapper {
  width: 85%;
  max-width: 1500px;
  margin-inline: auto;
}

.main.wrapper {
  margin-top: var(--nav-height);
}

p {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
  /* font-weight: 600; */
}

h3 {
  font-size: var(--fs-l);
  /* font-weight: 500; */
}

h4 {
  font-size: var(--fs-nl);
  /* font-weight: 500; */
}

h1,
h2,
h3 {
  /* font-weight: 600; */
}

.hover-highlight:hover,
.hover-highlight:hover svg {
  color: var(--primary);
  fill: var(--primary);
  transition: color 200ms ease-in-out;
}

.highlight-text {
  color: var(--highlight-text);
}

.highlight-text:hover {
  color: var(--highlight-text-hover);
  text-decoration: underline;
  transition: color 200ms ease-in-out;
}

.center-text {
  text-align: center;
}

.hover-gradient {
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(600px at 1036px 164px,
      rgba(29, 79, 216, 0.116),
      transparent 80%);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main {
  /* border: 1px solid red; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5em;
  /* padding-top: 5em; */
}

.wrapper-2 {
  width: 85%;
  margin-inline: auto;
}

.wrapper>* {
  /* border: 1px solid red; */
  /* margin: 10em 0 0; */
  /* margin: 5em 0 0; */
}

.secondary {
  font-size: var(--fs-s);
  opacity: 0.7;
}

h1.logo {
  font-size: 1.7rem;
}

/* nav */

.nav-container {
  background: var(--body-bg);
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  padding: 1em 0;
  height: var(--nav-height);
  display: none;
}

.nav-container ul li {
  font-size: var(--fs-xs);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-content>a {
  pointer-events: none;
}

nav ul {
  gap: 2em;
  display: none;
  align-items: center;
}

nav ul a.active {
  color: var(--green);
}

nav ul a:hover {
  color: var(--green);
}

nav ul a:not(:last-child) {
  position: relative;
  display: flex;
  counter-increment: item 1;
}

nav ul a:not(:last-child):before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--green);
  font-size: var(--fs-xs);
  text-align: right;
  font-style: var(--font-mono);
}

/* header */

header {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-top: 5em;
}

header>* {
  /* border: 1px solid red; */
}

.social-links {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a svg {
  color: var(--text-normal);
  fill: var(--text-normal);
  font-size: var(--fs-svg);
}

.techs-used {
  display: flex;
  gap: 0.5em;
  width: 100%;
  flex-wrap: wrap;
}

.techs-used li {
  border-radius: var(--border-radius);
  font-size: var(--fs-xs);
  font-family: var(--font-mono);
  color: var(--green);
  background: rgba(2, 255, 204, 0.104);
  padding: 0.5em 1em;
  text-transform: uppercase;
}

header p.nano-highlight-text {
  margin-bottom: -0.5em;
}

header .about-me {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

header .about-me p {
  max-width: 500px;
}

a.special-btn,
a.special-btn-2 {
  width: fit-content;
  cursor: pointer;
  display: block;
}

header .buttons-container {
  display: flex;
  /* flex-direction: column; */
  color: var(--primary);
  text-transform: capitalize;
  gap: 1em;
}

nav svg {
  height: 30px;
  width: fit-content;
  color: var(--highlight-text);
  margin-bottom: -2em;
}

nav {}

.inspiredLink {
  margin-top: -20px;
  display: none;
}

.inspiredLink.footer {
  margin-top: -20px;
  display: block;
}

a.special-btn button,
a.special-btn-2 button {
  background: none;
  border: none;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 1em 2.5em;
  pointer-events: none;
}

a.small.special-btn button {
  padding: 0.8em 1.5em;
}

a.special-btn-2 button {
  background: rgba(45, 212, 191, 0.3);
  color: var(--primary);
  border-radius: 0;
}

/* .special-hover {
  border-radius: var(--border-radius);
  position: relative;
  transition: all 200ms ease;
  background: var(--bg-color);
}

.special-hover:hover {
  box-shadow: 3px 3px 0px var(--primary);
  transform: translate(-3px, -3px);
} */

.special-hover {
  border-radius: var(--border-radius);
  position: relative;
  transition: all 200ms ease;
  background: var(--bg-color);
  box-shadow: 3px 3px 0px var(--primary);
  transform: translate(-3px, -3px);
}

.special-hover-2:hover {
  background: var(--primary);
}

/* main */

main>* {
  /* border: 1px solid red; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 8em;
  padding-bottom: 2em;
}

main section {
  /* border: 1px solid red; */
}

main>* {
  /* border:1px solid red; */
}

main section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main #about-me .content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main .title {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
}

/* main .title:after {
  display: block;
  height: 1px;
  width: 300px;
  position: relative;
  left: 20px;
  transform: translateY(-50%);
} */

.technologies ul {
  /* display: flex;
  flex-direction: column;
  gap: 1em; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 1em;
}

.technologies li {
  font-size: var(--fs-s);
  counter-increment: technologiesCount 1;
}

.technologies li:before {
  font-family: var(--font-mono);
  /* content: "▹"; */
  margin-right: 0.5em;
  content: "0" counter(technologiesCount) ".";
  color: var(--primary);
  top: 50%;
  font-size: var(--fs-xs);
  transform: translateY(-50%);
}

main .self-pic-wrapper>* {
  transition: all 200ms ease;
}

main .self-pic-wrapper {
  border-radius: var(--border-radius);
  margin-inline: auto;
  position: relative;
  background: var(--green);
}

main .self-pic-wrapper .image {
  width: 200px;
  height: 200px;
}

main .self-pic-wrapper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10px;
  top: 10px;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  z-index: -1;
}

main .self-pic-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  opacity: 1;
  mix-blend-mode: multiply;
}

/* projects */
#projects>.content {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

#projects>.content>*:not(:first-child) {
  /* border-top: 1px solid rgba(255, 255, 255, 0.147); */
}

#projects .project-content .project-links svg {
  font-size: var(--fs-l);
}

#projects .project-container {
  /* border: 1px solid red; */
  max-width: 700px;
}

#projects .project-container>* {
  /* border: 1px solid red; */
}

#projects .project-content>* {
  /* border: 1px solid red; */
}

#projects .project-content .project-links {
  /* order: 1; */
}

#projects .project-links {
  display: flex;
  gap: 1em;
}

/* #projects .project-image a {
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius);
  background: var(--light-navy);
  opacity: 0.5;
}

#projects .project-image a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--green);
  mix-blend-mode: multiply;
} */

#projects .project-image {
  /* background: var(--green-dark); */
  /* border: 1px solid white; */
  border-radius: var(--border-radius);
  /* width: 150px; */
  position: relative;
}

#projects .project-image img {
  aspect-ratio: 16/9;
  /* border: 1px solid red; */
  object-fit: cover;
  object-position: left top;
  width: 100%;
  border-radius: var(--border-radius);
}

#projects .project-image:before {
  content: "";
  position: absolute;
  background: var(--green);
  opacity: 0.3;
  height: 100%;
  width: 100%;
  z-index: 999;
  border-radius: var(--border-radius);
}

#projects .project-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5em;
  padding: 2em 0 1em;
  border-radius: 8px;
}

#projects .project-container:hover .project-content>a {
  color: var(--green);
}

#projects .project-container:hover {
  cursor: pointer;
}

#projects .project-container p.long {
  display: none;
}

#projects .project-container .project-content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

#projects .project-container .project-content .project-links {
  margin-top: 0.5em;
}

#projects .project-container .project-content h3 {
  text-transform: capitalize;
}

#projects .project-container p {
  font-size: var(--fs-s);
}

/* experiences */

.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.experiences-list>li {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* padding: 1em; */
  cursor: pointer;
}

.experiences-list .description-list {
  margin-top: -0.5em;
  font-size: 1rem;
}

.experiences-list .description-list li {
  /* list-style: disc; */
  /* margin-left: 1em; */
  text-transform: capitalize;
  line-height: 1.5;
}

.experiences-list>li:hover {}

.experiences-list li .content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--fs-s);
}

.experiences-list li .description-list {
  font-size: var(--fs-s);
}

.experiences-list li p {
  opacity: 0.8;
  margin-bottom: 0.5em;
}

.experiences-list .duration {
  white-space: nowrap;
  font-size: var(--fs-s);
  opacity: 0.7;
  font-weight: bold;
}

.experiences-list .company {
  display: flex;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

.experiences-list .company h3 {
  font-weight: normal;
}

.experiences-list .company:hover {
  color: var(--green);
}

.experiences-list .company.disabled {
  pointer-events: none;
}

.experiences-list .company svg {
  transition: all 200ms ease;
  margin-top: -2px;
}

.experiences-list .company:hover svg {
  transform: translateY(-2px);
}

.experiences-list .designation,
.experiences-list .duration {
  /* font-weight: 600; */
  opacity: 0.6;
}

.experiences-list .designation {
  margin-top: -0.4em;
}

/* other projects */

#other-projects {
  /* border: 1px solid red; */
}

#other-projects .content {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5em;
}

.other-project-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: var(--other-project-card-bg);
  padding: 2em 1.5em;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: all 200ms ease;
  border-radius: var(--border-radius-2);
}

.other-project-container p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.other-project-container>*:last-child {
  margin-top: auto;
}

.other-project-container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.other-project-container:hover h4 {
  color: var(--green);
}

.other-project-container>*:not(:first-child) {
  pointer-events: none;
}

.other-project-container .project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-project-container svg:hover,
.project-content .project-links svg:hover {
  color: var(--primary);
}

.other-project-container .project-top .folder svg {
  font-size: var(--fs-folder-size);
  color: var(--primary);
}

.other-project-links {
  display: flex;
  gap: 1em;
}

.other-project-links svg {
  font-size: var(--fs-l);
}

.other-project-techs-used {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.other-project-techs-used li {
  font-size: var(--fs-xs);
  text-transform: capitalize;
}

.other-project-container .project-main {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

#other-projects a.underline {
  margin-inline: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

footer span {
  max-width: 300px;
  line-height: 1.5;
}

.inspiredLink a {
  color: var(--highlight-text);
}

.inspiredLink a:hover {
  text-decoration: underline;
}

/* blogs */
#blogs .container {
  display: grid;
  grid-template-columns: 1fr;
}

#blogs .container>* {
  border: 1px solid red;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  body {
    --fs-xxl: 2.5rem;
  }

  header .buttons-container {
    flex-direction: row;
  }

  .wrapper {
    width: 80%;
  }

  #projects .project-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    transition: all 400ms ease;
  }

  #projects .project-container:hover {
    /* background: var(--project-hover-bg); */
  }

  #projects .project-container>* {
    /* pointer-events: none; */
  }

  #projects .project-container p.long {
    display: block;
  }

  #projects .project-container p.short {
    display: none;
  }

  .technologies ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .experiences-list>li {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-column-gap: 2em;
    border-radius: var(--border-radius);
    transition: all 300ms ease;
    max-width: 700px;
  }

  .experiences-list>li>* {}

  .experiences-list li .duration {
    grid-row: 1/-1;
  }

  .experiences-list li .content,
  .experiences-list li .techs-used {
    grid-column: 2/2;
  }

  .experiences-list li .company {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .experiences-list li .designation {
    grid-column: 2/2;
  }

  .experiences-list .techs-used {
    justify-content: flex-start !important;
  }

  .experiences-list .techs-used li {}

  .experiences-list li:hover {}

  #other-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }

  #projects .project-container {
    margin-left: -1.3em;
    padding: 1.3em 1.5em;
  }

  #projects .project-container:hover {
    background: rgba(50, 64, 87, 0.455);
    box-shadow: 0px 0px black, 0px 0px black,
      inset 0 1px 0 0 rgba(148, 163, 184, 0.1);
  }
}

@media only screen and (min-width: 800px) {
  body {
    --fs-xxl: 3rem;
  }

  nav ul {
    display: flex;
  }

  .wrapper-2 {
    width: 95%;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    /* --fs-xxl: 3.3rem; */
  }

  .wrapper {
    width: 80%;
    padding-top: 0;
  }

  #projects>.content {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  #projects .project-container .project-content p {
    /* background: var(--light-navy); */
    /* padding: 1em 2em; */
    color: var(--light-slate);
    border-radius: var(--border-radius);
  }

  #projects .project-container {
    /* text-align: right; */
  }

  #projects .project-container .project-links {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
  }

  #other-projects .content {
    grid-template-columns: repeat(3, 1fr);
  }

  main>* {
    /* border: 1px solid red; */
    padding-top: calc(var(--nav-height) + 2em);
  }
}

@media only screen and (min-width: 1300px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 90%;
    margin-top: 0;
  }

  .inspiredLink {
    margin-top: -20px;
    display: block;
  }

  .special-hover {
    box-shadow: unset;
    transform: unset;
  }

  .special-hover:hover {
    box-shadow: 3px 3px 0px var(--primary);
    transform: translate(-3px, -3px);
  }

  #other-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    gap: 10em;
    padding-bottom: 2em;
  }

  main section {
    gap: 2em;
  }

  .main.wrapper header {
    height: calc(100vh - var(--nav-height));
    position: sticky;
    top: var(--nav-height);
  }

  .wrapper>* {
    width: 50%;
  }

  .techs-used {
    justify-content: flex-end;
  }

  header .social-links {
    margin-top: auto;
  }

  header {
    /* border: 1px solid red; */
  }

  section#about-me {
    /* flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* align-items: flex-start; */
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #projects>.content {
    /* gap: 2em; */
  }

  section#about-me>* {
    /* border: 1px solid red; */
    align-self: self-start;
  }

  section#about-me>*:first-child {
    grid-column: 1/-1;
  }

  section#about-me>* {
    flex: 1 0 50%;
  }

  header {
    height: 100vh;
    position: sticky;
    top: var(--nav-height);
    padding: 5em 0 3em;
  }

  main {
    padding: calc(50vh - var(--nav-height)) 0 2.9em;
  }

  section h2 {
    /* display: none !important; */
  }

  main section:last-child {
    margin-bottom: 0;
  }

  footer>a {
    display: none !important;
    border: 1px solid red;
  }
}

@media only screen and (min-width: 1400px) {
  /* #other-projects .content {
    grid-template-columns: repeat(2, 1fr);
  } */
}