@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* --bg-color: #020c1b; */
  --text-highlight: rgba(226, 232, 240, 0.859);
  --text-normal: rgb(148 163 184);
  --font-inter: "Inter", sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --green: rgb(94 234 212);
  --green-dark: rgb(172, 218, 211);

  --green-bg: rgba(17, 106, 92, 0.507);

  --navy: #0a192f;
  --light-navy: #233554;
  --light-slate: #a8b2d1;
  --navy-shadow: rgba(2, 12, 27, 0.7);

  --project-hover-bg: rgba(255, 255, 255, 0.064);

  --border-radius: 5px;

  --fs-xxl: 3rem;
  --fs-xl: 1.3rem;
  --fs-l: 1.1rem;
  --fs-n: 1rem;
  --fs-s: 0.9rem;
  --fs-xs: 0.8rem;

  --fs-folder-size: 2rem;

  background: var(--navy);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: var(--text-normal);
  font-size: var(--fs-n);
  line-height: var(--line-height);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/* .right-verticle {
  border: 1px solid red;
  position: fixed;
  bottom: 150px;
  left: 60px;
  width: fit-content;
  display: none;
}

.right-verticle a {
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
} */

.text-highlight {
  color: var(--text-highlight);
}

.font-mono {
  font-family: var(--font-mono);
}

.nano-highlight-text {
  font-size: var(--fs-xs);
  color: var(--green);
}

.hover-text-green {
  transition: all 200ms ease;
}

.text-green {
  color: var(--green);
}

.hover-text-green:hover {
  color: var(--green);
}

.wrapper {
  width: 85%;
  max-width: 1500px;
  margin-inline: auto;
}

.wrapper > * {
  /* border: 1px solid red; */
}

p {
  line-height: 1.5;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
  /* font-weight: 600; */
}

h3 {
  font-size: var(--fs-l);
  /* font-weight: 500; */
}

h4 {
  font-size: var(--fs-nl);
  /* font-weight: 500; */
}

h1,
h2,
h3 {
  /* font-weight: 600; */
}

.hover-highlight:hover,
.hover-highlight:hover svg {
  color: var(--text-highlight);
  fill: var(--text-highlight);
  transition: color 200ms ease-in-out;
}

.hover-highlight-green:hover {
  color: var(--green);
  transition: color 200ms ease-in-out;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5em;
  margin-top: 5em;
}

.wrapper > * {
  /* border: 1px solid red; */
  /* margin: 10em 0 0; */
  /* margin: 5em 0 0; */
}

p.secondary {
  font-size: var(--fs-s);
  opacity: 0.8;
}

/* header */

header {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

header > * {
  /* border: 1px solid red; */
}

.social-links {
  display: flex;
  gap: 1.5em;
  margin-top: 1em;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links a svg {
  color: var(--text-normal);
  fill: var(--text-normal);

  font-size: var(--fs-xl);
}

.techs-used {
  display: flex;
  gap: 0.4em;
  width: 100%;
  flex-wrap: wrap;
}

.techs-used li {
  margin-right: 1em;
  /* background: rgba(45, 212, 191, 0.1); */
  border-radius: 5em;
  font-size: var(--fs-xs);
  font-family: var(--font-mono);
  color: rgba(94, 234, 213, 0.891);
  color: rgba(64, 186, 168, 0.891);

  /* font-weight: 600; */
}

header p.nano-highlight-text {
  margin-bottom: -0.5em;
}

header .about-me {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

header .about-me p {
  max-width: 500px;
}

header a.special-btn,
header a.special-btn-2 {
  width: fit-content;
  cursor: pointer;
  display: block;
}

header .buttons-container {
  display: flex;
  flex-direction: column;
  color: var(--green);
  text-transform: capitalize;
  gap: 1em;
}

header a.special-btn button,
header a.special-btn-2 button {
  background: none;
  border: none;
  color: var(--green);
  border: 1px solid var(--green);
  padding: 1em 2.5em;
  border-radius: var(--border-radius);
  pointer-events: none;
}

header a.special-btn-2 button {
  background: rgba(45, 212, 191, 0.1);
  color: var(--green);
  border-radius: 0;
}

.special-hover {
  border-radius: var(--border-radius);
  position: relative;
  transition: all 200ms ease;
  background: var(--bg-color);
}

.special-hover:hover {
  box-shadow: 5px 5px 0px var(--green);
  transform: translate(-5px, -5px);
}

/* main */

main {
  display: flex;
  flex-direction: column;
  gap: 5em;
  padding-bottom: 2em;
}

main section {
  /* border: 1px solid red; */
}

main > * {
  /* border:1px solid red; */
}

main section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main #about-me .content {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

main .title {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-transform: uppercase;
}

main .title:after {
  /* content: ""; */
  display: block;
  height: 1px;
  width: 300px;
  position: relative;
  background: var(--light-navy);
  left: 20px;
  transform: translateY(-50%);
}

.technologies ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.technologies li {
  font-size: var(--fs-s);
  position: relative;
  margin-left: 1em;
}

.technologies li:before {
  position: absolute;
  margin-left: -1em;
  content: "▹";
  color: var(--green);
  top: 50%;
  transform: translateY(-50%);
}

main .self-pic-wrapper > * {
  transition: all 200ms ease;
}

main .self-pic-wrapper {
  border-radius: var(--border-radius);
  margin-inline: auto;
  position: relative;
  background: var(--green);
}

main .self-pic-wrapper .image {
  width: 200px;
  height: 200px;
}

main .self-pic-wrapper:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 10px;
  top: 10px;
  border: 1px solid var(--green);
  border-radius: var(--border-radius);
  z-index: -1;
}

main .self-pic-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  opacity: 1;
  mix-blend-mode: multiply;
}

/* projects */
#projects > .content {
  display: flex;
  flex-direction: column;
  gap: 6em;
  /* border: 1px solid red; */
}

#projects .project-content .project-links svg {
  font-size: var(--fs-n);
}

#projects .project-container {
  /* border: 1px solid red; */
}

#projects .project-container > * {
  /* border: 1px solid red; */
}

#projects .project-content > * {
  /* border: 1px solid red; */
}

#projects .project-content .project-links {
  /* order: 1; */
}

#projects .project-links {
  display: flex;
  gap: 1em;
}

/* #projects .project-image a {
  position: relative;
  z-index: 1;
  border-radius: var(--border-radius);
  background: var(--light-navy);
  opacity: 0.5;
}

#projects .project-image a:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--green);
  mix-blend-mode: multiply;
} */

#projects .project-image {
  /* background: var(--green-dark); */
  border-radius: var(--border-radius);
}

#projects .project-image img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  /* mix-blend-mode: multiply; */
  object-fit: cover;
}

#projects .project-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  gap: 2em;
}

#projects .project-container .project-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#projects .project-container .project-content h3 {
  text-transform: capitalize;
}

#projects .project-container p {
  font-size: var(--fs-s);
}

/* experiences */

.experiences-list {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.experiences-list li {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.experiences-list li .content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.experiences-list li p {
  opacity: 0.68;
}

.experiences-list .duration {
  white-space: nowrap;
}

/* other projects */

#other-projects {
  /* border: 1px solid red; */
}

#other-projects .content {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5em;
}

.other-project-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: var(--light-navy);
  padding: 2em 1.5em;
  box-shadow: 0 10px 30px -15px var(--navy-shadow);
  transition: all 200ms ease;
}

.other-project-container > *:last-child {
  margin-top: auto;
}

.other-project-container:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.other-project-container:hover h4 {
  color: var(--green);
}

.other-project-container .project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.other-project-container .project-top .folder svg {
  font-size: var(--fs-folder-size);
  color: var(--green);
}

.other-project-links {
  display: flex;
  gap: 1em;
}

.other-project-links svg {
  font-size: var(--fs-l);
}

.other-project-techs-used {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.other-project-techs-used li {
  font-size: var(--fs-s);
  text-transform: capitalize;
}

.other-project-container .project-main {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.other-project-container .project-main p {
  /* font-size:var(--fs-s); */
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  /* margin-top:3em; */
}

@media only screen and (min-width: 700px) {
  body {
    --fs-xxl: 2.5rem;
  }

  .wrapper {
    /* width: 80%; */
  }

  #projects .project-container {
    flex-direction: row;
    /* padding: 1.5em; */
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 400ms ease;
  }

  #projects .project-container:hover {
    /* background: var(--project-hover-bg); */
  }

  #projects .project-container > * {
    /* pointer-events: none; */
  }

  .experiences-list li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
    /* padding: 1.5em; */
    /* cursor: pointer; */
    border-radius: var(--border-radius);
    transition: all 300ms ease;
  }

  .experiences-list li:hover {
    /* background: rgba(255, 255, 255, 0.109); */
  }
}

@media only screen and (min-width: 800px) {
  body {
    --fs-xxl: 3rem;
  }

  #other-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  body {
    /* --fs-xxl: 3.3rem; */
  }

  .wrapper {
    /* width: 80%; */
  }

  #projects > .content {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  #projects .project-container .project-content p {
    /* background: var(--light-navy); */
    /* padding: 1em 2em; */
    color: var(--light-slate);
    border-radius: var(--border-radius);
  }

  #projects .project-container {
    /* text-align: right; */
  }

  #projects .project-container .project-links {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 1300px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 4em;
    width: 90%;
    margin-top: 0;
  }

  #other-projects .content {
    grid-template-columns: repeat(1, 1fr);
  }

  main {
    gap: 10em;
    padding-bottom: 2em;
  }

  main section {
    gap: 5em;
  }

  .wrapper > * {
    width: 50%;
  }

  .techs-used {
    justify-content: flex-end;
  }

  header .social-links {
    margin-top: auto;
  }

  header {
    /* border: 1px solid red; */
  }

  section#about-me {
    /* flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    /* align-items: flex-start; */
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  #projects > .content {
    /* gap: 2em; */
  }

  section#about-me > * {
    /* border: 1px solid red; */
    align-self: self-start;
  }

  section#about-me > *:first-child {
    grid-column: 1/-1;
  }

  section#about-me > * {
    flex: 1 0 50%;
  }

  header {
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 5em 0 3em;
  }

  main {
    padding: 50vh 0 3em;
  }

  section h2 {
    /* display: none !important; */
  }

  main section:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1400px) {
  #other-projects .content {
    grid-template-columns: repeat(2, 1fr);
  }
}
